.Card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  background: rgba(42, 225, 88, 0.383);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-right: 60px;
  /* Removed flex-grow */
}

.Card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  background: rgba(191, 5, 5, 0.353);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-right: 60px;
  /* Removed flex-grow */
}


.Card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  /* Removed flex-grow */
}

.header {
  font-size: 50px;
  color: black;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
}

.Card1 img {
  width: 100%; /* Make sure the image fills the container */
}

.Card2 img {
  width: 100%; /* Make sure the image fills the container */
}

.Card3 img {
  width: 100%; /* Make sure the image fills the container */
}

.Card1-Container {
  display: flex;
  justify-content: space-around;
}

.logout {
  position: relative;
  top: 20px;
}
